@charset 'utf-8';

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	color: rgba(255, 255, 255, 1.0);
	background: rgba(61, 2, 53, 1.0);
}

figure { 
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

#logo {
	padding: 5vw;
	width: 50vw;
}

#logo path {
	stroke-dasharray: 1500;
	stroke-dashoffset: 1500;
	fill: rgba(255, 255, 255, 1.0);
	fill: url("#logo-gradient");
	stroke: rgba(255, 255, 255, 1.0);
  	stroke-miterlimit: 5;
	fill-opacity: 0;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-iteration: 1;

	animation-name: DrawLine, FadeStroke, FillIn;
	animation-delay: 0s, 2.5s, 2.5s;
  	animation-duration: 2s, 1s, 1s; 
}


@keyframes DrawLine {
  to { stroke-dashoffset: 0; }
}

@keyframes FadeStroke {
  to { stroke-opacity: 0; }
}

@keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}